body{
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
position: fixed;
top:0;
left:0;
height:100px;
width:100%;
padding:10px 90px;
box-sizing:border-box;
background: rgba(97, 8, 30, 0.6);
border-bottom:1px solid #fff;
}

.logo
{
padding:22px 20px;
height:80px;
float:left;
font-size:44px ;
font-weight:bold ;
text-transform:uppercase ;
color:#fff;
}
nav ul{
list-style:none;
float:right;
margin:0;
padding:0;
display:flex;
}
nav ul li a{

line-height:80px;
color:#fff;
padding:12px 30px;
text-decoration:none ;
font-size:14px;
font-weight:bold;
text-transform:uppercase;
}
nav ul li a:hover{
background: rgb(92, 6, 10);
border-radius:20px;
}
section{
width:300;
height:100vh;
background:url(anim.jpg);
background-size:cover;
background-position:center;

}

.btn
{
    background-color: cornsilk;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(139, 0, 0) ;
    width: 180px;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid rgb(210, 30, 90)30, 90);
    font-weight: bolder;
    border-radius: 12px;
    cursor: pointer;
   
    margin: 50px;
}

.txt
{
    margin: 20px;
    width: 100px;
    border: 3px solid rgb(210, 30, 105);
    border-radius: 5px ;
    padding: 10px;

}
.log{
    padding: 120px;
    background-color: rgba(255, 175, 192, 0.384);
    
}
